$disabled-Day: #b7b2b2;
$actual-Day: #ffcc00ba;
.container {
  display: flex;
  overflow: auto;

  margin: auto;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 30px;

  & p {
    font-weight: 600;
    font-size: 1.5rem;
  }

  & button {
    z-index: 1;
    color: rgb(17, 16, 16);
    background-color: rgba(229, 57, 255, 0.505);
    width: 35px;
    height: 35px;
    border: none;
    padding: 0;
    border-radius: 50%;
    margin: 0;
    font-size: 1rem;
    margin: 0;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
  }
  & button:hover {
    background-color: rgba(229, 57, 255, 0.844);
  }
  & button:nth-child(1) {
    margin-right: -600px;
    background-color: rgb(70, 129, 182);
  }
}

.calendar {
  border: 3px solid #333;
  border-radius: 10px;
}
.calendar ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
  & li {
    width: calc(100% / 7);
    position: relative;
  }
}

.calendarBody {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;

  & ul:nth-child(2) {
    padding-bottom: 20px;
  }
}

.dayName {
  font-weight: 600;
}
.disabledDay {
  color: $disabled-Day;
}

.dayNumber {
  margin-top: 10px;
  z-index: 1;

  & li {
    cursor: pointer;
    margin-top: 20px;
  }
  & li:before {
    position: absolute;
    content: '';
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 50%;
    z-index: -1;
  }
  & li:hover::before {
    background: #ebebeb;
  }

  & li.actualDay::before {
    background: $actual-Day;
  }
}
