$disabled-day: #b7b2b2;
$actual-day: #ffcc00ba;
$header-olor: aliceblue;
$button-color-inactive: rgba(229, 57, 255, 0.505);
$button-color-hover: rgba(229, 57, 255, 0.844);
$black-color: #333;
$weekdays-color: #51e9c3;
$empty-cell-color: #eeeaea;

.container {
  display: flex;

  margin: auto;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  flex-wrap: wrap;
}

.header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: $header-olor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;

  & p {
    font-weight: 600;
    font-size: 1.5rem;
  }

  & button {
    z-index: 1;
    color: $black-color;
    background-color: $button-color-inactive;
    width: 35px;
    height: 35px;
    border: none;
    padding: 0;
    border-radius: 50%;
    margin: 0;
    font-size: 1rem;
    margin: 0;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
  }

  & button:hover {
    background-color: $button-color-hover;
  }
}

.calendar {
  border: 3px solid $black-color;
  border-radius: 10px;
  width: 400px;
  height: 400px;
}

.calendar ul {
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
  padding-bottom: 6px;
  text-align: center;
  flex-direction: row;

  & li {
    width: calc(100% / 7);
    position: relative;
    background-color: $weekdays-color;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 5px;
  }
}

.calendarBody {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;

  & ul:nth-child(2) {
    padding-bottom: 20px;
  }
}

.daysContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  flex-basis: 100%;
}

.emptyCell {
  background-color: $empty-cell-color;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 6px;
}

//holidayList distribution
