.dayContainer {
  width: calc(100% / 7);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.day {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
  }
  &.local {
    background-color: rgb(0, 255, 68);
  }

  &.national {
    background-color: red;
  }

  &.regional {
    background-color: rgb(87, 96, 228);
  }

  &.today {
    background-color: #ffff80;
  }
}
