$color-button-red: #bf1110;
$color-text: #ecf0f1;
$sidebar-background-color: #d3d7ed;
.container {
  background-color: $sidebar-background-color;
  width: 23%;
  height: 100vh;
  position: fixed;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  transition: all 500ms ease-in-out;
}
.containerHidden {
  background-color: $sidebar-background-color;
  width: 23%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  display: flex;
  transform: translateX(-100%);
  transition: all 500ms ease-in-out;
}
.toggleBtn:active {
  & span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  & span:nth-child(2) {
    display: none;
  }
  & span:nth-child(3) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}

.toggleBtn {
  position: absolute;
  top: 10px;
  right: -40px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  & span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #111;
    transform: translateY(-50%);
    transition: all 100ms ease;
  }
  & span:nth-child(1) {
    top: 10%;
  }
  & span:nth-child(2) {
    top: 50%;
  }
  & span:nth-child(3) {
    top: 90%;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 30px;
  height: 70%;
  margin-left: 20px;
  padding: 0;
  overflow-wrap: break-word;
  white-space: normal;

  & dt,
  p {
    font-weight: bold;
    display: block;
    padding: 10px 10px;
    overflow-wrap: break-word;
  }
  & dd {
    margin-left: 0;
    padding-left: 10px;
    padding-bottom: 5px;
  }
}

.form {
  width: 100%;
  margin: -20px;
}
input {
  align-self: center;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 10px;
  margin-left: 20px;
  font-size: 80%;
  font-weight: 200;
  border-radius: 15px;
  transition: 0.5s;
  border: 5px solid $color-button-red;
  color: $color-button-red;

  background-color: $sidebar-background-color;
}

input:hover {
  cursor: pointer;
  &::before {
    border: 0px;
  }
  &:hover {
    background-color: darken($color-button-red, 5%);
    border: 5px solid lighten($color-button-red, 5%);
    color: $color-text;

    cursor: pointer;
  }
}

.title {
  display: flex;

  & p {
    align-self: center;
    font-size: 1.3rem;
    padding: 3px;
    display: block;
    overflow: auto;
    height: fit-content;
  }
  & img {
    height: auto;
    border-radius: 50%;
  }
}
.bottom {
  padding: 10px;
  border: 0;
  margin-left: 20px;
  width: fit-content;
  height: fit-content;
  & img {
    align-self: left;
    width: 30%;
  }
  & p {
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .container {
    background-color: #bf1110;
    height: 100vh;
    position: absolute;
    width: 20%;
    font-size: 0.9rem;
    overflow: visible;
  }
  .header {
    overflow: auto;
    background-color: #bf1110;
  }
  .title {
    flex-direction: column;
    & p {
      padding-top: 0;
      margin: 0;
    }
    & img {
      align-self: center;
      height: auto;
    }
  }
  input {
    overflow-y: visible;
    position: relative;
  }
  .form {
    width: 100%;
    margin: -20px;
  }
}
